.footer-row {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  padding: 1em;
}

.Twitter {
  position: absolute;
  right: 3em;
}

.Facebook {
  position: absolute;
  right: 5.5em;
}

.Instagram {
  position: absolute;
  right: 8em;
}