.site-footer {
    background-color: #333; /* Couleur de fond du footer */
    color: #fff; /* Couleur du texte */
    padding: 30px 0; /* Espacement intérieur du footer */
  }
  
  .site-footer p {
    font-size: 16px; /* Taille de la police du texte */
    line-height: 1.6; /* Hauteur de ligne */
  }
  
  .site-footer .container {
    width: 100%; /* Largeur maximale du container */
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .site-footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .site-footer .col-sm-12,
  .site-footer .col-md-6,
  .site-footer .col-md-8,
  .site-footer .col-sm-6,
  .site-footer .col-xs-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .site-footer .text-justify {
    text-align: justify; /* Justification du texte */
  }
  
  .site-footer .copyright-text {
    color: #fff; /* Couleur du texte du droit d'auteur */
    margin-top: 30px; /* Espacement supérieur du texte du droit d'auteur */
    text-align: center; /* Centrer le texte du droit d'auteur */
  }
  