.search-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.search-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.loading-message {
  font-size: 18px;
  color: #555;
  text-align: center;
}

.no-results-message {
  font-size: 18px;
  color: #f00;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex; /* Utiliser flexbox pour aligner les éléments horizontalement */
}

li:hover {
  background-color: #f0f0f0;
}

li img {
  margin-right: 20px;
  max-width: 100px; /* Ajuster la taille de l'image selon vos besoins */
  flex-shrink: 0; /* Empêcher l'image de rétrécir */
}

.details {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
}

.author {
  color: #007bff;
}

.published {
  color: #28a745;
}
/* Styles pour les liens */
a {
  color: inherit; /* Utilisez la couleur par défaut du texte */
  text-decoration: none; /* Supprime l'effet de soulignement */
}

/* Styles pour les liens au survol */
a:hover {
  text-decoration: none; /* Supprime l'effet de soulignement au survol */
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #DC143C 	#DC143C transparent transparent;
  box-sizing: border-box;
  margin: 0 auto; /* Pour centrer horizontalement */
  margin-top: 20vh; /* Pour centrer verticalement */
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFE4C4	 #FFE4C4	 transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    